@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
COLOR PALETTE

#E5E5E5 bg
#0a3871 font 
#495057 font-result
#343A40 font-result-advice
#D8DFE8 bg-button

*/

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  color: #0a3871;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #d8dfe8;
}
.logo {
  padding-top: 0.8em;
  width: 1em;
}

.title {
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: space-between;
  padding: 2vh 8vw;
}

.container-insert-msg {
  height: 80vh;
  width: 90%;
  background: #e5e5e5;
}

.container-result-msg {
  height: 80vh;
  background: #fff;
  border-radius: 2em;
  width: 40vh;
  box-shadow: 0 1.5em 2em -0.5em rgba(0, 0, 0, 0.08);
}
textarea:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #0a3871;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

textarea,
.result-msg {
  background-color: #e5e5e5;
  color: #0a3871;
  font-family: 'Poppins', sans-serif;
  width: 90%;
  height: 60vh;
  font-size: 1.2em;
  resize: none;
  padding: 20px;
  border: none;
}

.result-msg {
  height: 65vh;
  background-color: #fff;
  box-sizing: border-box;
}

.advice {
  height: 2em;
  padding:1vh 5vw;
  font-size: 0.7em;
}

.advice ul {
  display: none;
}

li::before {
  content: url(../img/advice.png);
  padding-right: 0.5em;
}

.buttons {
  padding-left: 4vw;
}

.result-button {
  text-align: center;
}

.button-crypt,
.button-decrypt,
.button-copy {
  width: 20em;
  height: 3.5em;
  border: 1px solid #0a3871;
  border-radius: 1.2em;
  background: #0a3871;
  color: #fff;
}

.button-decrypt {
  background: #d8dfe8;
  color: #0a3871;
}

.button-copy{
  display: none;
  max-width: 90%;
}

.img-container-result-msg {
  display: flex;
  align-items: center;
  height: 84%;
  flex-wrap: wrap;
}

.msg-text-result {
  display: none;
  height: 63vh;
  font-size: 1.2em;
  resize: none;
  padding: 20px;
  border: none;
}

.img-bg-result-msg {
  width: 100%;
}

.no-txt-info {
  width: 100%;
  padding: 0 2em;
  text-align: center;
  color: #343a40;
}

.no-txt-info h2 {
  font-weight: bold;
  font-size: 1.2em;
}

.no-txt-info p {
  font-size: 0.7em;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #d8dfe8;
}

footer a {
  text-decoration: none;
  color: #0a3871;
}

@media (max-width: 768px) {
  header {
    height: 10vh;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
  }

  main {
    text-align: center;
    margin: 0 auto;
  }

  .container-insert-msg {
    font-size: 1em;
    height: auto;
  }


  .msg-text-result {
    font-size: 1em;
    height: 60%;
  }

  .result-msg{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
  }

  textarea {
    height: 40vh;
  }

  .buttons {
    padding: 0;
    display: flex;
  }

  .button-crypt,
  .button-decrypt,
  .button-copy {
    height: 5vh;
    width: 40vw;
  }

  .container-result-msg {
  width: 80%;
  height: 20vh;
  text-align: center;
  position: absolute;
  bottom: 5em;
  margin: 5vh auto;
  }
  .advice {
    text-align: left;
    width: 80vw;
  }
  .img-container-result-msg {
    text-align: center;
    width: 100%;
    height: 60%;
  }
  .img-bg-result-msg {    
    width: 100%;
    display: none;
  }

  .no-txt-info {
    font-size: 1.5em;
  }
  
  footer {
    display: none;
  }
}

@media (max-width: 768px) {


  main {
    height: 50%;
  }

  .msg-text-result {
    
    height: auto;
  }
}

@media (max-height: 820px) {
  body {
    font-size:0.6em;
  }

  .title {
    font-size: 4em;
  }

  header p, .logo {
    font-size: 2em;
  }
  main {
    height: 50%;
  }

  .container-insert-msg {
    height: 40vh;
  }

  .container-result-msg {
    font-size: 1.2em;
  }

  .msg-text-result {
    
    height: auto;
  }

  .no-txt-info {
    font-size: 1em;
  }
}